@page
@model IndexModel
<!-- @{
    ViewData["Title"] = "Home page";
} -->

<div class="text-center">
    <h1 class="display-4">Do you like Files? Maybe Directories?</h1>   

    <a href="">Go Home</a>

    <nav class="circular-menu">

        <div class="circle">        
            @if (Model.GetType().GetProperty("files") != null) {                
                for (var i = 0; i < Model.files.Count; i++)
                {            
                    var id = "form" + i;
                    <form id="@{@id}" asp-page-handler="view" method="post">                        
                        <input type="hidden" name="subFolderId" value="@i"/>
                        <a onclick="@{@id}.submit();"><h5>@Model.files[i]</h5></a>
                    </form>                                     
                }
            }
        </div>    
        <a href="" class="menu-button"><h5>@Model.chosenDirectoryName</h5></a>    
    </nav>    
</div>
