@page
@model IndexModel
<!-- @{
    ViewData["Title"] = "Home page";
} -->

<div class="text-center">
    <form method="post">
        <div>Name: <input asp-for="Message" /></div>
        <div><input type="submit" /></div>
    </form>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <p>
            Hello @Model.Message!
        </p>
    }
</div>
