@page
@model IndexModel
<!-- @{
    ViewData["Title"] = "Home page";
} -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <nav class="circular-menu" id="scl" onkeydown="scrollTest()">

        <div class="circle">
        <!-- <a href="" class="fa fa-home fa-2x"></a>
        <a href="" class="fa fa-facebook fa-2x"></a>
        <a href="" class="fa fa-twitter fa-2x"></a>
        <a href="" class="fa fa-linkedin fa-2x"></a>
        <a href="" class="fa fa-github fa-2x"></a>
        <a href="" class="fa fa-rss fa-2x"></a>
        <a href="" class="fa fa-pinterest fa-2x"></a>
        <a href="" class="fa fa-asterisk fa-2x"></a> -->
        <a id='0'><h5>0</h5></a>
        <a id='1'><h5>1</h5></a>
        <a id='2'><h5>2</h5></a>
        <a id='3'><h5>3</h5></a>
        <a id='4'><h5>4</h5></a>
        <a id='5'><h5>5</h5></a>
        <a id='6'><h5>6</h5></a>
        <a id='7'><h5>7</h5></a>
        <a id='8'><h5>8</h5></a>
        <a id='9'><h5>9</h5></a>
        <a id='10'><h5>10</h5></a>
        <a id='11'><h5>11</h5></a>
        <a id='12'><h5>12</h5></a>
        <a id='13'><h5>13</h5></a>
        <a id='14'><h5>14</h5></a>
        <a id='15'><h5>15</h5></a>
        <a id='16'><h5>16</h5></a>
        <a id='17'><h5>17</h5></a>
        <a id='18'><h5>18</h5></a>
        <a id='19'><h5>19</h5></a>
        
        </div>
    
        <a href="" class="menu-button"><h5>C:</h5></a>
    
    </nav>

    <form method="post">
        <div>Name: <input asp-for="Message" /></div>
        <div><input type="submit" /></div>
    </form>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <p>
            Hello @Model.Message!
        </p>
    }
</div>
