@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <nav class="circular-menu">

        <div class="circle">
        <!-- <a href="" class="fa fa-home fa-2x"></a>
        <a href="" class="fa fa-facebook fa-2x"></a>
        <a href="" class="fa fa-twitter fa-2x"></a>
        <a href="" class="fa fa-linkedin fa-2x"></a>
        <a href="" class="fa fa-github fa-2x"></a>
        <a href="" class="fa fa-rss fa-2x"></a>
        <a href="" class="fa fa-pinterest fa-2x"></a>
        <a href="" class="fa fa-asterisk fa-2x"></a> -->
        <a><h5>Home</h5></a>
        <a><h5>Photos</h5></a>
        <a><h5>Documents</h5></a>
        <a><h5>Downloads</h5></a>
        <a><h5>Music</h5></a>
        <a><h5>Other</h5></a>
        <a><h5>Other</h5></a>
        <a><h5>Other</h5></a>
        </div>
    
        <a href="" class="menu-button"><h5>C:</h5></a>
    
    </nav>

</div>
